@charset "UTF-8";
.portfolio {
  border-top: 1px solid #ececec;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.logo-studio.footer {
  color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Навигация сайта */
.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  fill: #212121;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open:hover .icon-cross,
.menu-button.is-open:focus .icon-cross {
  fill: #2196f3;
}

.menu-container {
  background-color: #fff;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 34px 15px 44px 15px;
    height: 393px;
    border-top: 1px solid #ececec;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 80px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .item {
  margin-bottom: 40px;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  opacity: 1;
}

.site-nav .link {
  position: relative;
  display: block;
  padding: 8px 0px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg иконка почты */
.contacts-icon.envelope {
  width: 16px;
  height: 11px;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg иконка телефон */
.contacts-icon.smartphone {
  width: 10px;
  height: 15px;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section {
  background: #2f303a;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo-address {
  font-weight: 300;
}

@media screen and (max-width: 1199px) {
  .logo-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-address {
    margin-right: 63px;
  }
}

.logo-address .footer-logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.logo-address .address {
  color: #ffffff;
  font-style: normal;
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .logo-address .address {
    margin-top: 20px;
  }
}

.logo-address .footer-link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .joinus {
    margin-right: 93px;
  }
}

.social-links {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-icon {
  background-color: #44454e;
  width: 44px;
  border-radius: 80%;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover, .footer-icon:focus {
  background-color: #2196f3;
}

.footer-icon:last-child {
  margin-right: 0;
}

.footer-icon .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin {
  margin-right: 12px;
}

.signin input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
  padding-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .signin input {
    width: 358px;
  }
}

.action {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 767px) {
  .action {
    margin-top: 60px;
  }
}

.email {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
}

.button-div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1199px) {
  .button-div {
    margin-top: 20px;
  }
}

.subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding-left: 29px;
  padding-right: 20px;
}

.icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .subscribe-div {
    display: block;
  }
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.work {
  padding-top: 94;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section.work {
    display: none;
  }
}

.section.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section.team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section.clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.portfolio {
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .portfolio {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 50px;
  }
}

.port-header {
  margin: 0;
  color: #ffffff;
}

.pf-filter {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .pf-filter {
    width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .pf-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
}

.filter-item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item:nth-child(-n + 5) {
    margin-bottom: 15px;
  }
}

.filter-item:last-child {
  margin-right: 0px;
}

.filter-button {
  background: #f5f4fa;
  padding: 12px 24px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.projects-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin: 0;
  }
}

.project {
  overflow: hidden;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .project {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .project:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .project:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .project:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project:hover, .project:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.pf-link {
  text-decoration: none;
}

.pf-link .name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.pf-link .meaning {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}

.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  overflow: hidden;
}

.pf-thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .pf-thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .pf-thumb {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.pf-thumb .pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.pf-link:hover .overlay,
.pf-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay .text {
  top: 0;
  padding: 63px 24px;
  margin: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */