/* Постоянные клиенты */

// .clients {
//   text-align: center;
//   padding-bottom: 60px;
//   padding-top: 60px;
// }

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $transition;
  @media screen and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
    color: $accent-color;
  }
}

.logo-client {
  fill: #afb1b8;

  transition: fill $transition;

  .clients-link:hover > &,
  .clients-link:focus > & {
    fill: $accent-color;
    color: $accent-color;
  }
}
