.feature {
  .title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $title-text-color;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    height: 120px;
    background-color: $secondary-bg-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    .item {
      max-width: 354px;
    }
    .item:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .item {
      max-width: 270px;
      margin-bottom: 0;
    }
    .item + .item {
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 1200px) {
    .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
