html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $font-body;
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
